@charset "utf-8";

.container {
    padding-bottom: 20px;
}

* {
    outline: none !important;
}

body {
    -webkit-overflow-scrolling: touch;
    background-color: #eaeaea ;
    font-family: "IRANSans", "Myriad Pro Regular", "MyriadPro", "Myriad Pro", "open-sans", tahoma, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7235;
    direction: rtl;
    margin: 0px;min-height: 1500px;
}
a {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-decoration: none ;
    color: inherit ;
}
a:visited , a:hover {
    text-decoration: none !important;
    color: inherit !important;
}
.h1, .h2, .h3, h1, h2, h3 {
    font-weight: bold;
    line-height: 1.5;
    padding-right: 10px;
}
.fl{float:left !important;}
.fr{float:right;}
/** Fonts **/
@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: bold;
    src: url('./../fonts/IRANSansWeb_Medium.eot');
    src: url('./../fonts/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./../fonts/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./../fonts/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./../fonts/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 300;
    src: url('./../fonts/IRANSansWeb_Light.eot');
    src: url('./../fonts/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./../fonts/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./../fonts/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./../fonts/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: normal;
    src: url('./../fonts/IRANSansWeb.eot');
    src: url('./../fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./../fonts/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./../fonts/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./../fonts/IRANSansWeb.ttf') format('truetype');
}



#header{border-top:5px solid #ed8323;background: url(./../images/header-bg.jpg) no-repeat; background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
min-height:650px;border-bottom:2px solid #ed8323;}
.navbar-default{background: transparent;border:none;}
.navbar-nav{padding-right: 6%}
.navbar-default .navbar-nav > li > a{color:#fff;}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   color:#fff;
    background-color: #ed8323;
}
.logo{margin-top:5px;}
.search-btn{    background: #fafafa url(./../images/search-icon.png) no-repeat center center;
    width: 34px;
    height: 34px;}
h1{color:#fff;margin-top:6%;}
.navbar-collapse , .navbar-left{padding-left: 0}
/**** TAB *****/
/**
 * Responsive Bootstrap Tabs by @hayatbiralem
 * 15 May 2015
 */
@media screen and (max-width: 479px) {
    .nav-tabs-responsive > li {
        display: none;
        width: 23%;
    }
    .nav-tabs-responsive > li > a {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        width: 100%;
        width: 100%;
        text-align: center;
        vertical-align: top;
    }
    .nav-tabs-responsive > li.active {
        width: 54%;
    }
    .nav-tabs-responsive > li.active:first-child {
        margin-left: 23%;
    }
    .nav-tabs-responsive > li.active, .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
        display: block;
    }
    .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    .nav-tabs-responsive > li.next > a, .nav-tabs-responsive > li.prev > a {
        -webkit-transition: none;
        transition: none;
    }
    .nav-tabs-responsive > li.next > a .text, .nav-tabs-responsive > li.prev > a .text {
        display: none;
    }
    .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.prev > a:after, .nav-tabs-responsive > li.prev > a:after {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .nav-tabs-responsive > li.prev > a:after {
        content: "\e079";
    }
    .nav-tabs-responsive > li.next > a:after {
        content: "\e080";
    }
    .nav-tabs-responsive > li.dropdown > a > .caret {
        display: none;
    }
    .nav-tabs-responsive > li.dropdown > a:after {
        content: "\e114";
    }
    .nav-tabs-responsive > li.dropdown.active > a:after {
        display: none;
    }
    .nav-tabs-responsive > li.dropdown.active > a > .caret {
        display: inline-block;
    }
    .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-left {
        left: 0;
        right: auto;
    }
    .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-center {
        right: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-right {
        left: auto;
        right: 0;
    }
}
/**
 * Demo Styles
 */
.wrapper {
    padding: 15px 0;
}



@media (max-width: 479px) {
    #narrow-browser-alert {
        display: none;
    }
}
.tab-pane{color:#373737;}
#sale-tab:before{content:"";background: url(./../images/sprite-img.png) no-repeat; background-position: 0 0;width:40px;height:30px;float:right; margin: -5px 0 0 5px;}
.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 20px;
}
.myTab >li{margin-bottom: 0px;}
.myTab >li > a{    position: relative;
    display: block;
    padding: 15px 20px;
    background:rgba(116, 116, 116, 0.75);
    color: #fff;border:none;
    margin: 0 3px;}
.myTab > li.active > a, .myTab > li.active > a:hover, .myTab > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #ed8323;
    border:none;
    border-bottom-color: transparent;
}

#buy-tab:before{content:"";background: url(./../images/sprite-img.png) no-repeat; background-position: 16% 0%;width:40px;height:30px;float:right; margin: -5px 0 0 5px;}
.nav-tabs > li > a:hover {
   border:none;
}
.myTabContent{    background: #fff;
    display: block;
    min-height: 300px;    margin: 0 3px;padding: 15px;}
.nav-tabs {
   border:none;
}
#login-tab:before{content:"";background: url(./../images/sprite-img.png) no-repeat; background-position: 30% 0%;width:40px;height:30px;float:right; margin: -5px 0 0 5px;}
#register-tab:before{content:"";background: url(./../images/sprite-img.png) no-repeat; background-position: 45% 0%;width:40px;height:30px;float:right; margin: -5px 0 0 5px;}
.tab-txt{text-align: center;padding-top: 30%;margin-bottom: 15px;}
.btn-sale a{background:#ed8323;padding: 10px 15px;color:#fff;text-align: center;width:100%;
    display: block; }
.f-width{width:100%;
    display: block;clear:both}

/****form****/
.login {
    width: 400px;
    margin: 0em auto;
    padding: 2em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group {
    position: relative;
    margin-bottom: 25px;
}

input {
    font-size: 16px;
    padding: 5px 10px 10px 5px;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    right: 5px;
    top: 10px;
    transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
    top: -20px;
    transform: scale(.75); right: -2px;
    /* font-size: 14px; */
    color: #ed8323;
}


/* Underline */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #ed8323;
    transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
    from { background: #4a89dc; }
    to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: .3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c85f00;
    cursor: pointer;
    transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonorng {
    background: #ed8323;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonorng:hover { background: #fc9d48; }


/* Ripples container */

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}


/* Ripples circle */

.ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
    0% { opacity: 0; }

    25% { opacity: 1; }

    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}
.fa{margin-left:5px;}
.forget-pass{text-align: left;color: #0087ff;
    font-size: 12px;}
.adv{margin:25px 0}
.adv img{width:100%;}
.protab > li.active > a, .protab > li.active > a:hover, .protab > li.active > a:focus {background: #fff;color: #ed8323;border-top:2px solid #ed8323 !important;}
.slick-dotted.slick-slider{direction: ltr;}
.pro-cart{    border: 1px solid #8c8c8c;
    direction: rtl;
    padding: 5px;}
.pro-pic{height:120px;text-align: center;    border-bottom: 1px solid #7a7a7a;}
.pro-pic img{margin:7px auto;}
.pro-ttl{text-align:center;color:#ed8323;margin: 15px 0;}
.slick-slide {
    margin: 0 10px !important;
}
.bold{font-weight:bold;}
.black{color:#000;}
.pro-time, .pro-price{margin-bottom:5px;font-size: 13px;}
.pro-time i, .pro-price i{font-size: 15px;float: right;
    margin: 3px 5px 0 10px;}
.pro-more{color: #0087ff;
    font-size: 12px;    padding: 6px 0;
    display: inline-block;}
.pro-buy{float:left;}
.pro-buy i{color: #ed8323;
    padding: 6px;
    border-radius: 50%;
    font-size: 18px;
    border: 2px solid #ed8323;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;}
.pro-buy:hover >i {color: #fff;background:#ed8323}
.pro-buy-more{margin:15px 0}
.slick-next{background: url(./../images/arrow-right.png) no-repeat !important;width:32px !important;height:32px !important; background-position: 0 0 !important}
.slick-next:hover{background-position: 100% 0 !important}
.slick-prev{background: url(./../images/arrow-left.png) no-repeat !important;width:32px !important;height:32px !important;background-position: 0 0 !important}
.slick-prev:hover{background-position: 100% 0 !important}
.myprotab{
    padding:15px 30px;}
.slick-next:before , .slick-prev:before{content:'' !important}
.bs-example-tabs {
    margin-bottom: 40px;
}
#footer{min-height:300px;background: #262626;border-bottom: 5px solid #ed8323}
#footer .column{
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}
#footer .column-left{ float: left; width: 33%; text-align: center}
#footer .column-right{ float: right; width: 33%; }
#footer .column-center{ display: inline-block; width: 33%; }
#footer ul {
    padding:0;
}

#footer ul li{
    list-style: none;
    width:100%;
    margin-bottom: 15px;
    text-align: right;
}

#footer .column-left ul li{ text-align: center}


#footer ul li span{
    font-size:12px;
}

#footer .orange {
    color: #ed8323;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook{
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}

.fa-google {
    background: #dd4b39;
}

.fa-instagram {
    background: #125688;
}

.social-btn{
    color: white;
    padding: 13px;
    font-size: 20px !important;
}

.radio-inline{
    margin-bottom: 13px;
    margin-top: 0px;
}

.my-sales .created{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}
